* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 45%;
  margin: 0 auto;
}

label {
  font-weight: bold;
  font-size: small;
}

input[type=text],
input[type=password],
select,
textarea {
  width: 100%;
  padding: 10px;
  border: none;
  background: #f1f1f1;
  color: #000;
}

input[type=text]:focus,
input[type=password]:focus,
select:focus,
textarea:focus {
  background-color: #ddd;
  outline: none;
}

select.loading {
  cursor: wait;
}

.input-row {
  display: flex;
}

.input-row .input-col {
  width: 100%;
  margin-bottom: 10px;
}

.input-row .input-col.left {
  margin-right: 5px;
}

.input-row .input-col.right {
  margin-left: 5px;
}

.input-hint {
  font-size: 15.5px;
  text-align: justify;
  color: #666;
}

hr {
  border: 1px solid #f1f1f1;
  /* margin-bottom: 25px; */
}

.btn {
  background-color: #04AA6D;
  color: white;
  padding: 10px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  font-size: medium;
}

.btn:hover {
  opacity: 1;
}

a {
  color: dodgerblue;
}

/* Utilities */

.hide {
  display: none;
}

/* Responsive */
@media (max-width: 600px) {
  .container {
    width: initial;
  }

  .input-row {
    -webkit-flex-direction: column;
    flex-direction: column;
  }

  .input-row .input-col.right {
    margin-left: initial;
  }
}