<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospital E-Ticketing System</title>
    <link rel="stylesheet" href={{ url_for('static', filename='default.css' ) }} />
</head>

<body>
    <div class="container">
        <h1>হাসপাতাল ই-টিকেট</h1>
        <p>হাসপাতালের টিকেট অনলাইনে পেতে ফরমটি পূরন করুন</p>

        <ul class="step-indicator-breadcrumb">
            <li class="active">রোগীর তথ্য</li>
            <li>হাসপাতাল নির্বাচন</li>
            <li>ডাক্তার অ্যাপয়েন্টমেন্ট</li>
            <li>পেমেন্ট ও নিশ্চিতকরণ</li>
        </ul>

        <hr />
        {% block container %}{% endblock %}
    </div>

    <script src={{ url_for('static', filename='default.js' ) }}></script>
</body>

</html>