{% extends 'base.html' %} {% block container %}
<h1>হাসপাতাল ই-টিকেট</h1>
<p>হাসপাতালের টিকেট অনলাইনে পেতে ফরমটি পূরন করুন</p>

<ul class="step-indicator">
  <li class="active">রোগীর তথ্য</li>
  <li>হাসপাতাল নির্বাচন</li>
  <li>ডাক্তার অ্যাপয়েন্টমেন্ট</li>
  <li>পেমেন্ট ও নিশ্চিতকরণ</li>
</ul>

<hr />

<form action="/post">
  <h3>রোগীর তথ্য</h3>

  <div class="input-row no-label">
    <div class="input-col left">
      <input type="text" placeholder="রোগীর নাম *" name="name" id="name" required />
    </div>
    <div class="input-col right">
      <input type="text" placeholder="রোগীর বয়স *" name="age" id="age" required />
    </div>
  </div>
  <div class="input-row">
    <div class="input-col left">
      <input type="text" placeholder="ফোন নম্বর *" name="phone" id="phone" required />
    </div>
    <div class="input-col right">
      <input type="text" placeholder="ইমেইল" name="email" id="email" />
    </div>
  </div>

  <hr />
  <h3>রোগীর রোগ/সমস্যা ও লক্ষণসমূহ</h3>

  <div class="input-row">
    <!-- <div class="input-col left">
        <input type="radio" id="problem_known" name="problem_known_unknown" value="known" />
        <label for="problem_known">রোগীর রোগ/সমস্যা নির্বাচন করি</label>
      </div>
      <div class="input-col right">
        <input type="radio" id="problem_unknown" name="problem_known_unknown" value="unkonwn" />
        <label for="problem_unknown">রোগ বুঝতে পারছি না, তাই লক্ষণগুলো লিখি</label>
      </div> -->
  </div>
  <div class="input-row" style="margin-top: -10px">
    <div class="input-col">
      <label>রোগ/সমস্যা নির্বাচনঃ</label>
      <select id="problem" name="problem" title="রোগীর রোগ/সমস্যা নির্বাচন করি">
        <option>(নির্বাচন করুন)</option>
        <option value="headache">মাথাব্যথা</option>
        <option value="fever">জ্বর</option>
        <option value="cough">কাশি</option>
        <option value="stomach_pain">পেট ব্যথা</option>
        <option value="nausea">বমি</option>
        <option value="fatigue">ক্লান্তি</option>
        <option value="difficulty_breathing">শ্বাস নিতে অসুবিধা</option>
        <option value="chest_pain">সিনার ব্যথা</option>
        <option value="_other">অন্য রোগ/সমস্যা</option>
      </select>
      <br class="hide">
      <input class="hide" type="text" id="otherProblemInput" name="problem" placeholder="রোগীর রোগ/সমস্যার নাম লিখুন"
        style="margin-top: 10px" />
    </div>
  </div>
  <div class="input-row">
    <div class="input-col">
      <label>রোগের লক্ষণসমূহঃ</label>
      <textarea name="symptoms" id="symptoms" cols="30" rows="10" title="রোগের লক্ষণগুলো বর্ননা করি"></textarea>
    </div>
  </div>

  <hr />
  <h3>হাসপাতাল নির্বাচন করুন</h3>

  <p class="input-hint">
    উক্ত রোগ/সমস্যার জন্য যে সকল হাসপাতালে চিকিৎসার সু-ব্যবস্থা রয়েছে, সে
    হাসপাতালগুলোর নাম পেতে প্রথমে বিভাগ, জেলা, উপজেলা/থানা নির্বাচন করুন।
  </p>

  <div class="input-row">
    <div class="input-col left">
      <label>বিভাগঃ</label>
      <select id="division" name="division">
        <option>(নির্বাচন করুন)</option>
      </select>
    </div>
    <div class="input-col">
      <label>জেলাঃ</label>
      <select id="district" name="district" disabled>
        <option>-- সকল --</option>
      </select>
    </div>
    <div class="input-col right">
      <label>উপজেলা/থানাঃ</label>
      <button id="btnShowSubdistrictOrThanaInput" class="btn btn-show-subdistrictOrThana-input" disabled>
        ইনপুট দিতে ক্লিক করুন (ঐচ্ছিক)</button>
      <select id="subdistrictOrThana" name="subdistrictOrThana" disabled hidden>
        <option>-- সকল --</option>
      </select>
    </div>
  </div>
  <div class="input-row" hidden>
    <div class="input-col">
      <label>হাসপাতালের নামঃ <span style="color: red">*</span></label>
      <br>
      <span class="filter-label">ফিল্টার করুনঃ</span>
      <input type="radio" id="filter_hospital_for_you" name="filter_hospital" value="for_you" checked>
      <label class="fw-normal" for="filter_hospital_for_you">"<output class="problemValue">মাথাব্যথা</output>" রোগের
        চিকিৎসা রয়েছে এমন হাসপাতালসমূহ</label>
      <input type="radio" id="filter_hospital_all" name="filter_hospital" value="all">
      <label class="fw-normal" for="filter_hospital_all">সকল হাসপাতাল</label>
      <br>
      <select id="hospital" name="hospital" disabled>
        <option>(নির্বাচন করুন)</option>
      </select>
    </div>
  </div>

  <hr />
  <h3>ডাক্তার অ্যাপয়েন্টমেন্ট</h3>

  <div class="input-row">
    <div class="input-col left">
      <label>ডাক্তার নির্বাচনঃ <span style="color: red">*</span></label>
      <br>
      <span class="filter-label">ফিল্টার করুনঃ</span>
      <span class="text-sm">"<output class="hospitalNameValue">ন্যাশনাল ইন্সিটিউট অব নিউরোসায়েন্স ও
          হাসপাতাল</output>"-এ</span>
      <input type="radio" id="filter_doctor_for_you" name="filter_doctor" value="for_you" checked>
      <label class="fw-normal" for="filter_doctor_for_you">"<output class="problemValue">মাথাব্যথা</output>"রোগের
        ডাক্তারগণ</label>
      <input type="radio" id="filter_doctor_all" name="filter_doctor" value="all">
      <label class="fw-normal" for="filter_doctor_all">সকল বিভাগের
        ডাক্তারগণ</label>
      <br>
      <select id="doctor" name="doctor" disabled>
        <option>(নির্বাচন করুন)</option>
      </select>
    </div>
    <div class="input-col right" style="display: flex; justify-content: end; flex-direction: column;">
      <label>তারিখ নির্বাচনঃ <span style="color: red">*</span></label>
      <input type="date" name="appoinmentDate" id="appoinmentDate" required />
    </div>
  </div>

  <button type="submit" class="btn">নিশ্চিত করুন</button>
</form>
{% endblock %}