{% extends 'base.html' %} {% block body %}
<form action="/post">
  <div class="container">
    <p>আপনার <strong>Institute of Neurosciences & Hospital, Sher-E-Bangla Nagar, Agargoan, Dhaka</strong> এ <strong>Dr.
        মোঃ শুকতারুল ইসলাম (তামিম)</strong>-এর অ্যাপয়েন্টমেন্ট নিশ্চিত হয়েছে। আপনার সিরিয়াল নং: <span
        style="font-weight: bold; color: blue;">25</span> এবং <span style="color: red;">29/10/2023</span> তারিখে <span
        style="color: red; font-weight: bold;">9:10 AM</span> এর মধ্যে উপস্থিত থাকার জন্য অনুরোধ করা হলো। আপনার
      <strong>+880-1714-123381</strong>
      নম্বরে সিরিয়াল নম্বর এ সিরিয়াল নম্বরটি প্রেরণ করা হয়েছে।
    </p>
    <p style="text-align: right;"><a href>প্রিন্ট করুন</a></p>
  </div>
</form>
{% endblock %}